<div class="col-lg-6">
    <div class="info d-flex align-items-center">
        <div class="content">
            <div class="logo">
                <h1>CMS</h1>
            </div>
            <p>盛大旅游平台 - 后台管理系统</p>
        </div>
    </div>
</div>