<nav id="sidebar">

    <!-- 用户信息 -->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="/img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h5">邢天博</h1>
            <p>Web Designer</p>
        </div>
    </div>

    <!-- 导航信息 -->
    <span class="heading">Main</span>
    <ul class="list-unstyled">
        <li>
            <a href="/s/admin"> <i class="icon-home"></i>用户账号 </a>
        </li>
        <li>
            <a href="/s/pros"> <i class="icon-grid"></i>产品列表 </a>
        </li>
        <li>
            <a href="/s/orders"> <i class="icon-new-file"></i>订单列表 </a>
        </li>
        <li>
            <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>文章列表 </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="/s/article">平台介绍</a></li>
                <li><a href="#">行业资讯</a></li>
                <li><a href="#">新闻动态</a></li>
            </ul>
        </li>
    </ul>

</nav>