<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                            <div class="icon"><i class="icon-user-1"></i></div><strong><%= data_name %>总数</strong>
                        </div>
                        <div class="number dashtext-1"><%= data_count %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>