<header>
    <div class="container">
        <nav class="navbar navbar-expand-sm">
            <div class="col-3">
                <a class="navbar-brand text-light" href="#"><i class="icon-logo fsize-1d5"></i> Grand Tour <small>盛大之旅</small></a>
            </div>
            <div class="col-9">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">关于我们</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">产品服务</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">联系我们</a>
                    </li>
                    <li class="nav-item">
                        <a href="/booking" class="nav-link text-light btn btn-primary">立即预定</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>